<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Dettagli Ricetta</title>
</head>
<body>
<div class="container">
    <h1>Dettagli Ricetta</h1>
    <hr>

    <!-- lista descrittiva delle ricette -->
    <dl>
        <dt>Nome Ricetta</dt>
        <dd th:text="${recipe.title}"></dd>
        <dt>Ingredienti</dt>
        <dd th:text="${recipe.ingredients}"></dd>
        <dt>Tempo di Preparazione</dt>
        <dd th:text="${recipe.preparationTime}"></dd>
        <dt>Porzioni</dt>
        <dd th:text="${recipe.portions}"></dd>
        <dt>Preparazione</dt>
        <dd th:text="${recipe.recipeText}"></dd>
        <dt>Categorie</dt>
        <dd>
            <ul>
                <li th:each="c : ${recipe.categories}" th:text="${c.name}"></li>
            </ul>
        </dd>
    </dl>

    <!-- bottone per tornare alla lista di ricette -->
    <a th:href="@{/recipes}" class="btn btn-primary">Ritorna alla lista</a>
</div>
</body>
</html>