<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Modifica Ricetta</title>
</head>
<body>
<div class="container">
    <h1>Modifica Ricetta</h1>
    <hr>
    <!-- Form da modificare -->
    <form
            id="recipe-edit"
            th:action="@{/recipes/edit/{id}(id=${recipe.id})}"
            th:object="${recipe}"
            method="post"
    >
        <!-- immagine url -->
        <div class="mb-3">
            <label for="img" class="form-label">Immagine</label>
            <input type="url" class="form-control" id="img" th:field="*{photoURL}" th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('photoURL')}">
                <ul>
                    <li th:each="err : ${#fields.errors('photoURL')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <!-- nome piatto -->
        <div class="mb-3">
            <label for="title" class="form-label">Nome Piatto</label>
            <input type="text" class="form-control" id="title" th:field="*{title}" th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}">
                <ul>
                    <li th:each="err : ${#fields.errors('title')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <!-- ingredienti -->
        <div class="mb-3">
            <label for="ingredients" class="form-label">Ingredienti</label>
            <input type="text" class="form-control" id="ingredients" th:field="*{ingredients}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('ingredients')}">
                <ul>
                    <li th:each="err : ${#fields.errors('ingredients')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <!-- porzioni -->
        <div class="mb-3">
            <label for="portions" class="form-label">Porzioni</label>
            <input type="number" class="form-control" id="portions" th:field="*{portions}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('portions')}">
                <ul>
                    <li th:each="err : ${#fields.errors('portions')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <!-- tempo di cottura -->
        <div class="mb-3">
            <label for="prepTime" class="form-label">Tempo di cottura</label>
            <input type="number" class="form-control" id="prepTime" th:field="*{preparationTime}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('preparationTime')}">
                <ul>
                    <li th:each="err : ${#fields.errors('preparationTime')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <!-- preparazione -->
        <div class="mb-3">
            <label for="preparation" class="form-label">Preparazione</label>
            <input type="text" class="form-control" id="preparation" th:field="*{recipeText}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('recipeText')}">
                <ul>
                    <li th:each="err : ${#fields.errors('recipeText')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <!-- lista di categorie -->
        <div>
            <h4>Categorie</h4>
            <div class="form-check" th:each="c : ${categoryList}">
                <input class="form-check-input" type="checkbox" th:value="${c.id}"
                       th:id="|category_${c.id}|" th:field="*{categories}">
                <label class="form-check-label" th:for="|category_${c.id}|"
                       th:text="${c.name}"></label>
            </div>
        </div>
        <!-- pulsanti salvataggio e cancellazione -->
        <div class="mt-2">
            <button type="submit" class="btn btn-primary">Save</button>
            <a th:href="@{/recipes}" class="btn btn-primary">Cancel</a>
        </div>


    </form>
</div>
</body>
</html>