<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Recipes list</title>
</head>
<body>
<div class="container">
    <h1>Recipes List</h1>
    <hr>
    <!-- link di aggiunta ricette -->
    <a th:href="@{/recipes/create}" class="btn btn-primary mb-3">Aggiungi Ricetta</a>
    <!-- tabella che mostra le ricette -->
    <div class="row">
        <div th:each="r : ${recipeAttribute}" class="col-md-3">
            <div class="card mb-2" style="width: 18rem;">
                <img th:src="${r.photoURL}" alt="Immagine Ricetta">
                <div class="card-body">
                    <h5 class="card-title" th:text="${r.title}"></h5>
                    <ul class="list-group list-group-flush">
                        <!-- richiamo il metodo getLimitedString() -->
                        <li class="list-group-item"><b>Preparazione:</b> <span
                                th:text="${r.limitedString}"></span>
                        </li>
                        <li class="list-group-item"><b>Porzioni:</b> <span th:text="${r.portions}"></span></li>
                        <li class="list-group-item"><b>Tempo di cottura: </b> <span
                                th:text="${r.preparationTime}"></span> minuti
                        </li>
                    </ul>
                    <div class="card-body">
                        <a th:href="@{/recipes/show/{recipeId}(recipeId=${r.id})}"
                           class="btn btn-primary">Leggi di più</a>
                        <a th:href="@{/recipes/edit/{id}(id=${r.id})}" class="btn btn-primary mx-2">Modifica</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>